@use "./variables.scss" as *;

// Fix collapsed Explorer and TOC peeking out text
.explorer.collapsed > .explorer-content {
  display: none !important;
}

.toc:has(button.toc-header.collapsed) .toc-content {
  display: none !important;
}

// Make sidebar graph view larger and more spacious
.graph > .graph-outer {
  height: 350px;
}
